{% extends 'base.html.twig' %}

{% block title %}AdminPartenaire{% endblock %}

{% block body %}
    <h1>AdminPartenaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ admin_partenaire.id }}</td>
            </tr>
            <tr>
                <th>MatriculeAdminP</th>
                <td>{{ admin_partenaire.matriculeAdminP }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ admin_partenaire.login }}</td>
            </tr>
            <tr>
                <th>PassWord</th>
                <td>{{ admin_partenaire.passWord }}</td>
            </tr>
            <tr>
                <th>NomComplet</th>
                <td>{{ admin_partenaire.nomComplet }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ admin_partenaire.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ admin_partenaire.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ admin_partenaire.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_partenaire_index') }}">back to list</a>

    <a href="{{ path('admin_partenaire_edit', {'id': admin_partenaire.id}) }}">edit</a>

    {{ include('admin_partenaire/_delete_form.html.twig') }}
{% endblock %}
